@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .no-ring {
    @apply ring-0 ring-offset-0 outline-none focus-visible:ring-0 focus-visible:ring-offset-0;
  }
}

:root {
  --color-Ap: #ff6384;
  --color-An: #ff8a80;

  --color-ABp: #36a2eb;
  --color-ABn: #4fc3f7;

  --color-Bp: #ffce56;
  --color-Bn: #fff176;

  --color-Op: #81c784;
  --color-On: #a5d6a7;
}


@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 12s ease infinite;
}

@keyframes blob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -20px) scale(1.05);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.95);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-blob {
  animation: blob 18s ease-in-out infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
